body{
max-width: 0;
padding: 0;
font-family: 'Segoe UI',sans-serif;
background:url('background.jpg')no-repeat center center;
color: #333;
text-align: center;
padding: 50px;
}
.container {
    padding: 60px 20px;
    background-color: rgba(0, 0, 0,0.6);/*dark overlay*/
    border-radius: 12px;
    max-width: 60px;
    margin: 80px auto;
}
  
h1 {
    font-size: 2cm;
    margin-bottom: 10px;
}

p{
    font-size: 1.1cm;
    margin-bottom: 30px;
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
button{
    text-decoration: none;
    padding: 12px 25px;
    font-size: 2cm;
    
    border-radius: 30px;
    cursor: pointer;
    width: 160px;
    display: inline-block;
    text-align: center;
    transition: background-color 0,3s ease;
    font-weight: 600;
}
.btn.tiktok {
    background-color: #010101;
    color: white;
}

.btn.tiktok:hover {
    background-color: #333; 
}
.btn.youtube {
    background-color: #333;
}
.btn.youtube:hover{
    background-color:#cc0000;
}
.login-link{
	display: inline-block;
	margin-top: 20px;
	color: white;
	text-decoration: none;
	background-color: #333;
	padding: 10px 20px;
	border-radius: 10px;
}