body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('background.jpg') no-repeat center center;
  background-size: cover;
  color: #333;
  text-align: center;
  justify-content: center;
  height:100vh;
  display:flex;
  flex-direction:column;
}

.hero-text {
  text-align: center;
  padding: 100px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

.container {
  padding: 60px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  max-width: 600px;
  margin: 80px auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
}

p {
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.button,
.youtube-button {
  text-decoration: none;
  padding: 12px 25px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 160px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: 600;
} 

.dashboard-box {
            max-width: 500px;
            margin: auto;
            background: rgba(0, 0, 0, 0.7);
            padding: 30px;
            border-radius: 15px;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            color: white;
            text-decoration: none;
            background-color: #444;
            padding: 10px 20px;
            border-radius: 8px;
        }

        a:hover {
            background-color: #666;

.button:hover {
  background-color: white;
}

.youtube-button {
  background-color: red;
}

.youtube-button:hover {
  background-color: #cc0000;
}

.login-link {
  display: inline-block;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 10px;
}

.admin-link {
  display: inline-block;
  margin-top: 20px;
  background-color: #555;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 14px;
}

.admin-link:hover {
  background-color: #000;
}
