<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"content="width=device-width,initial-scale=1.0">
  <title>Admin Panel</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
  <h1>Admin Panel- All Products</h1>
  {% for product in products %}
  <div class="product-container">
    <h3>{{product.name}}</h3>
    <p><strong>Price:</strong>KES {{product.price}}</p>
    <p>{{product.description}}</p>
    {%else%}
    <p>No products added yet.</p>
    {%endfor %}
    <a href="/profile"class="btn">View Profile</a>
    <a href="/logout"class="login-link">Logout</a>
  </div>
</body>
</html