<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width device-width,initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for(style.css)}}">
    <style>
        body {
            font-family: Arial;
            background: url('background.jpg') no-repeat center center/cover;
            color: white;
            text-align: center;
            padding-top: 100px;
        }

       
    </style>
</head>
<body>
    <div class="dashboard-box">
        <h2>Welcome, {{ username }}!</h2>
        <p>Hello!</p>
        <p>This is your dashboard. More features coming soon!</p>
        <a href="/products">See our Products</a>
        <a href="/"class="btn">Back to Home</a>
        <a href="/logout"class="btn logout">Logout</a>
    </div>
</body>
</html>
