<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h2>Welcome,{{ user.username }}!</h2>
        <p>This is your dashboard. More features coming soon!</p>
        <a href="{{url_for('product')}}" class="btn">View Products</a>
        <a href="/profile"class="btn">View Profile</a>
        <a href="/logout" class="login-link">Logout</a>
    </div>
</body>
</html>
