<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
    <tittle>My Products</tittle>
     <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <hi>Available Products</hi>
    {% if products %}
    <ul>
        {% for product in products %}
        <li><strong>{{ product.name }}</strong> -Ksh
             {{product.price}}</li>
             {% else %}
    </ul>
        <p>No Products available</p>
        {% endif %}
    <a href="/dashboard" class="login-link">Back to Dashboard</a>
        <a href="/logout" class="login-link">Log Out</a>
    
</body>
</html>